<div class="modal-header">
  <h4 class="modal-title">Edit Data Repository</h4>
</div>

<div class="modal-body">
  <%= render partial: 'data_repository_records/form', locals: { data_repository_record: data_repository_record, rppr_id: @rppr_id } %>
</div>
