<div class="modal-header">
  <h4 class="modal-title dataRepositoryRecordForm">Add Data Repository Record</h4>
  <h4 class="modal-title dataRepositoryForm" style="display: none;">Add Data Repository</h4>
</div>

<div class="modal-body dataRepositoryRecordForm">
  <%= render partial: 'data_repository_records/form', locals: { data_repository_record: data_repository_record, rppr_id: @rppr_id } %>
</div>

<div class="modal-body dataRepositoryForm" style="display: none;">
  <%= render partial: 'data_repositories/form', locals: { data_repository: DataRepository.new, rppr_id: @rppr_id, remote: true } %>
</div>
