<% table_style = (data_repository_records.empty? ? "display: none" : "") %>
<table id="data-repository-records-table" class='table table-bordered table-striped' style="<%= table_style%>">
  <tr>
    <th style="width:20%">Name</th>
    <th style="width:20%">Description</th>
    <th style="width:50%">Screenshot Evidence</th>
    <th style="width:5%">DOI</th>
    <th style="width:5%">Action</th>
  </tr>

  <% data_repository_records.each do |data_repository_record| %>
    <%= render partial: 'data_repository_records/record', locals: { data_repository_record: data_repository_record, rppr: @rppr } %>
  <% end %>
</table>
