<h1>Epilepsy for <%= @epilepsy.master_patient_id %></h1>

<dl>
  <% @epilepsy.attributes.each do |key, value| %>
    <% unless ["id", "created_at", "updated_at"].include?(key) %>
      <dt><%= key.titleize %></dt>
      <dd><%= value.presence || "—" %></dd>
    <% end %>
  <% end %>
</dl>

