<div class="query-block">
  <fieldset>
    <legend>Filter</legend>

    <div>
      <label>Table</label>
      <select name="query_blocks[][table]" class="block-table">
        <option value="">-- Select Table --</option>
        <option value="patient_tasks">Patient Tasks</option>
        <option value="demographics">Demographics</option>
        <option value="epilepsies">Epilepsies</option>
        <option value="cceps">Cceps</option>
      </select>
    </div>

    <div>
        <label>Field</label>
        <select name="query_blocks[][field]" class="block-field">
          <option value=""></option>
        </select>
    </div>

    <div>
        <label>Operator</label>
        <select name="query_blocks[][operator]">
          <option value=""></option>
        </select>
    </div>

    <div>
      <label>Value</label>
      <input type="text" name="query_blocks[][value]" class="block-value" />
    </div>

    <div>
      <button type="button" class="remove-block">Remove</button>
    </div>
  </fieldset>
</div>


















