<div class="query-block">
  <fieldset>
    <legend>Filter</legend>

    <div>
      <label>Table</label>
      <select name="query_blocks[][table]" class="block-table">
        <option value="patient_tasks">Patient Tasks</option>
        <option value="demographics">Demographics</option>
        <option value="epilepsies">Epilepsies</option>
        <option value="cceps">Cceps</option>
      </select>
    </div>

    <div>
      <label>Field</label>
      <select name="query_blocks[][field]" class="block-field">
        <%# Default fields (JS will replace based on selected table) %>
        <option value="task_name">task_name</option>
        <option value="task_count">task_count</option>
      </select>
    </div>

    <div>
      <label>Operator</label>
      <select name="query_blocks[][operator]">
        <option value="contains">contains</option>
        <option value="not_contains">does not contain</option>
        <option value="equals">equals</option>
        <option value="gte">>=</option>
        <option value="lte"><=</option>
        <option value="before">before</option>
        <option value="after">after</option>
        <option value="all">ALL (include full-field)</option>
      </select>
    </div>

    <div>
      <label>Value</label>
      <input type="text" name="query_blocks[][value]" class="block-value" />
    </div>

    <div>
      <button type="button" class="remove-block">Remove</button>
    </div>
  </fieldset>
</div>


















