
<div class='main d-flex align-items-center'>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p class='text-white text-justify mt-4 lh-base fs-3'>Several sponsors now require a Data Management and Sharing (DMS) plan. The purpose of a DMS plan is to foster good data stewardship and promote a cultural shift where good data management and data sharing are the norm. Proper data management and sharing enables the scientific community to verify, extend, and build upon research results.
        </p>
        <p class='text-white text-justify mt-4 lh-base fs-3'>To support the institution and its investigators in their efforts of data stewardship, UTHealth Houston has created a de novo system. The institutional Data Ecosystem Portal for UTHealth Houston (DEPUT), this institutional oversight management portal for DMS validation and tracking will catalog all DMS plans. Annually, the project Contact PI will update the data sharing status in DEPUT, and the institutional office of Sponsored Projects Administration (SPA) will perform confirmation of data deposition to a repository as indicated in the DMS plan.
        </p>
    </div>
</div>
<style>
btn-outline-light{

}
p {
    font-size: 18px;
}
</style>