<div class="card card-body">
<%= form_with url: create_comment_rppr_path, remote: true do |form| %>
  <%= form.hidden_field :rppr_id, value: rppr_id %>
  <div class="form-group new-comment-fields">
    <h5>New comment</h5>
    <%= form.text_area :body, rows: "4", class: 'form-control', :required => true %>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>