<div id='user_image_form' class="p-3">
  <%= form_for @user, html:{id:'user-image-form'} do |f| %>
    <%= f.file_field :avatar, class: 'form-control mt-3', aria:{label:'avatar'} %>
    <%= f.submit "Upload Profile Picture", class: 'btn btn-primary btn-block mt-3' %>
  <% end %>
</div>

<script>
  // use image instead of EEG Image to avoid confusion.
  $('#user_image_form').dialog({
    title: 'Update Profile Image',
    width: 500,
    height: 300,
    modal: true,
    autoOpen: false,
    close: function(){
      // $(this).find('textarea').val('');  
    }
  });
</script>