<div class='panel-padding m-5'>
  <center><h1 tabindex="0">Creating DMS progress report</h1></center>
  <%= render "rppr_form", project: @project, url: create_rppr_user_path(current_user.id) %>
</div>
