/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require data_tables
 *= require jquery-ui/datepicker
 *= require introjs.min
 */


 @media (min-width: 1200px) {
    .modal-xxl {
        width: 95% !important;
     max-width:1400px !important;
    }
  }
  
.table-container {
   border: 2px solid #dcdcdc;
   border-radius: 15px;
   padding: 20px;
   margin: 20px auto;
   max-width: 2600px;
   background-color: #ffffff;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table {    
   width: 100%;
   border-collapse: collapse;
}

th {
   padding: 12px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}

td {
   padding: 12px;
   border-bottom: 1px solid #ddd;
}

tr:hover {
   background-color: #f1f1f1;
}

tr:last-child td {
   border-bottom: none;
}

.toggle-header {
  cursor: pointer; 
  padding: 10px;
  display: block;
  align-items: center;
  max-width: fit-content;
}
