<div class="corner-float">
  <button id="featureBtn" data-toggle="tooltip" data-placement="left" title="Request a new Feature">
    <i class="fa fa-lightbulb-o"></i>
  </button>
</div>

<script>
$('#featureBtn').on('click', function () {
  $('#featureModal').modal('show')
})
</script>

<!-- Modal -->
<div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Request New Feature</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @feature = Feature.new%>
        <%= render './features/form', {feature: @feature, button_content:'Submit'}  %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("body").delegate("#feature_request_date", "focusin", function(){
        $(this).datepicker();
    });
});
</script>