<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row" style="text-align:center">
      <div class='col-12'>
        <span class="m-0">Contact: Shiqiang Tao, PhD (shiqiang.tao[at]uth.tmc.edu)</span> 
        
        </div>
      </div>
       <div class="row" style="text-align:center">
        
      <div class='col-12'>
       <ul class="">
            <li><a href="https://www.uth.edu/data/">The Office of Data Science</a></li>
            <li><a href="https://www.uth.edu/campus-carry/Campus-Carry-Policies-at-UTHealth.pdf">Campus Carry</a></li>
            <li><a href="https://www.uthealthhoustonemergency.org/">Emergency Information</a></li>
            <li><a href="https://www.uth.edu/index/policies.htm">Site Policies &amp; Required Links</a></li>
          </ul>
      </div>
      </div>
    <div class="row">
      <span style="text-align:center">© Copyright 2023-Present | The University of Texas Health Science Center at Houston (UTHealth Houston)</span>
    </div>
  </div>
</footer>
